@import url('https://fonts.googleapis.com/css?family=Teko&display=swap');


$colors: (
    display: #fff,
    keys: #fff,
    keyBackground: lightslategray,
    calculatorBorder: lightslategray
);

@function color($color-name) {
  @return map-get($colors, $color-name)
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.Calculator {
  font-family: "Teko";
  border: 2px solid color(calculatorBorder);
  width: 300px;
  padding: 2px 0;
  background-color: black;
  color: color(display);

  .Calculator-display {
    display: flex;
    flex-direction: column;

    h3 {
      display: inline;
      text-align: right;
      margin: 2px 5px;;
      font-size: 1.8em;
      font-weight: 400;
    }

    .Calculator-calculation {
      font-size: 1.4em;
      min-height: 1.5em;
    }

    .Calculator-output {
      min-height: 1.2em;
    }
  }

  table {
    border-collapse: collapse;
    margin: 0 auto;
  }

  tr {
    border: 1px solid black;
  }

  td {
    padding: 0;
  }
  
  .Key {
    font-family: inherit;
    font-size: 1.2em;
    width: 73px;
    height: 50px;
    background-color: color(calculatorBorder);
    border: 0px solid black;
    padding: 0;
    color: color(keys);
  }
}

#clear {
  width: 146.5px;
  background-color:brown;
}

#equals {
  height: 100px;
  background-color: steelblue;
}

#zero {
  width: 146.5px;
}